{% extends 'main/main.html' %}
{% block content %}
{% load staticfiles %}
<h1>精靈長老</h1>
<table border="1" cellpadding="1" cellspacing="1" style="width: 1000px">
	<tbody>
		<tr>
			<td style="text-align: center;">
				<img src={% static 'track/img/founder.jpg' %} alt=沈軍懷 ></p>
				<p><div class=cre>創辦人:沈軍懷</div></p>
				</td>
			<td style="text-align: center;"><div class=inf>
				<p>老闆沈軍懷原是觸機械工程有關的工作。</p>		
				<p>求學過程和一般人不同的是他沒有讀高中而是讀五專，</p>			
				<p>從中州科大到樹德科大，再到中華大學，後來決定出國留學。</p>				
				<p>到了南京東南大學拿到了博士學位後回台從事機械工程的 工作。</p>				
				<p>因在南京留學時發現外國室友的飲食方式和台灣人大有不同，</p>				
				<p>崇尚樂活生活，因而決定改變跑道決定開創赤腳精靈養生窯烤麵包。</p>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<p>
	</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<h1>精靈誕生</h1>
	<p>很久很久以前，有一群精靈來到南投市八卦山脈猴探井，他們腳踩著肥沃紅土，</p>
	<p>種植南瓜、紅糬、鳳梨等，每個晨昏，他們腳踩紅土，夕陽拉長了身影，紅土染紅了双腳，</p>
	<p>他們就是傳說中可愛的「赤腳精靈」……</p>
	<p>在南京的大學留學時，因室友多是外國人，</p>
	<p>發現他們的生活方式和台灣有很大的不同，尤其是在飲食方面。</p>
	<p>台灣的食品幾乎都經過加工，可能就喪失了某些食物該有的純樸。</p>
	<p>外國人的飲食幾乎都是食物原本的樣貌，最能吃出其原本的味道，</p>
	<p>且較台灣人重視 樂活生活（LOHAS）。</p>
	<p>而現今存在著各種潛質市場，樂活市場便是其中之一，</p>
	<p>於是決定在台灣開拓樂活市場，並以窯烤養生麵包為主打。</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<h1>長老邏輯</h1>
	<p>永續發展，環保、健康的生活</p>
	<p>樂活，是一個西方傳來的新興生活型態族群，由音譯 LOHAS而來。</p>
	<p>LOHAS是英語 Lifestyles of Health and Sustainability 的縮寫，意為以健康及自給自足的型態過生活。</p>
	<p>而 LOHAS的重點在於「永續精神」，但台灣目前多集中在 H（Health）部分。</p>
	<p>柴燒窯烤麵包所用的才是用龍眼及荔枝樹上須修剪掉的木頭來燒，</p>
	<p>而非隨意砍伐，符合永續發展的理念。</p>
<br>
{% endblock %}