{% extends 'main/main.html' %}
{% block content %}
{% load staticfiles %}
<img src={% static 'deeds/img/1-1_resized.jpg' %} alt=1-1 >&nbsp;
<img src={% static 'deeds/img/1-2_resized.jpg' %} alt=1-2 ></p><p>&nbsp;</p>
<img src={% static 'deeds/img/1-3_resized.jpg' %} alt=1-3 >&nbsp;
<img src={% static 'deeds/img/1-4_resized.jpg' %} alt=1-4 ></p><p>&nbsp;</p>
<img src={% static 'deeds/img/1-5_resized.jpg' %} alt=1-5 >&nbsp;
<img src={% static 'deeds/img/1-6_resized.jpg' %} alt=1-6 >

{% endblock %}